@import url('/font.css');
@import url('/HemiHead/style.css');
@import url('../libs/fontawesome/css/font-awesome.min.css');

html {
    scroll-behavior: smooth;
}

/************************Progress Bar*************************/

.progress {
    position: fixed;
    top: 12rem;

    left: 0;
    height: 6px;
    /* background: rgb(175, 103, 226); */
    /* background-color: rgb(167, 85, 214); */
    background: linear-gradient(92.48deg, #667C97 0.26%, #90C4F2 39.81%, #DFEAF0 91.19%);;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: all linear 0.1s;
    min-width: 1%;
    z-index: 100;
}

/************************ Banner ****************************/

.home_container {
    /* width: 100vw; */
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 16rem;
    padding-bottom:5rem;
}

#top-logo-img {
    width: 9vw;
}

.banner-parallax {
    background-image: url("../img/bg/bg1.jpg");
    /* Set the background to cover the entire screen */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;

    /* Set the section to occupy the entire viewport height */
    height: 100vh;
    
    /* Center content vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif;
}


.home_hackCBS>h2 {
    color: #d6b7bc;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 2.8vw;
    font-style: italic;
    letter-spacing: 0px;
    margin-top: 15vh;
    margin-left: 3rem;
}


.home_hackCBS>h1 {
    /* font-family: "Hemi Head W00 Bold" !important;
    font-style: italic;
    font-weight: 700;
    font-size: 10.5vw;
    color: #F8F5FF;
    margin-top: 4.5rem; */
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12vw;
    /* line-height: 230px; */
    color: #F8F5FF;
    margin-top: 15vh;
}
.hackcbs_landing {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -26rem;
  }
.home_hackCBS .text {
    /* width: fit-content;
    font-style: italic;
    font-weight: 600;
    font-size: 3vw;
    color: pink;
    margin-top: -60px;
    padding-left: 0.8rem;
    letter-spacing: 5px;
    text-transform: uppercase; */
    width: fit-content;
    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 400;
    font-size: 2.8vw;
    /* line-height: 43px; */
    color: #F8F5FF;
    margin-top: -80px;
    padding-left: 0.8rem;
}

.home_hackCBS>h1>span {
    /* font-family: "Hemi Head W00 Bold" !important;
    font-style: italic;
    font-weight: 800;
    padding-left: 1.5rem;
    text-emphasis-color: transparent;
    -webkit-text-stroke: 3px #9f86d5;
    -webkit-text-fill-color: transparent; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 14.5vw;
    /* line-height: 346px; */
    padding-left: 1.5rem;
    background: linear-gradient(65.7deg, #FC5FD9 9.76%, #A481EF 40.43%, #8D5DF5 87.38%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;
}

.home_date-container p {
    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 500;
    font-size: 2.5rem;
    /* line-height: 47px; */
    color: #F8F5FF;
    margin-top: 6rem;
}
.home_date-container{
    margin-top: 34rem;
    position: relative;
}
.home_button-container {
    display: flex;
    gap: 4rem;
    align-items: center;
    margin-top: 7rem;
    margin-bottom: 8rem;
}


.home_date-container .fa-calendar {
    font-size: 3rem;
}

.lgx-scroll>img,
#mlh-trust-badge>img {
    max-width: 80%;
}

.button-register {
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    padding: 1.35rem 5.2rem;
    color: #FFFFFF;
    /* background: linear-gradient(45deg, #f87bdd, #ff69de, #ee36ff, #b51afd, #891bff, #a824ff); */
    background: linear-gradient(92.48deg, #667C97 0.26%, #90C4F2 39.81%, #DFEAF0 91.19%);
    border-radius: 12px;
    border: none !important;
    /* margin-right: 4rem; */
}

.button-discord {
    /* display: flex; */
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    padding: 1.3rem 3rem;
    color: #FFFFFF;
    background: #1F2631;
    border-radius: 12px;
    border: 3px #90C4F2 solid;
}

.banner-button-style {
    border: none;
    border: 3px #90C4F2 solid;
    outline: none;
    color: #DFEAF0;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.banner-button-style>a, .home_button-container a {
    text-decoration: none;
    color: #DFEAF0;
}

.banner-button-style:before {
    content: '';
     background: linear-gradient(279deg, #7ca5cb,#7397b8 ,#7894af,#7792ab,#647e93 , #68849e,#61798f ,#616f7c,#687887,#556c7f , #667C97, #667C97,#728091,#64768b);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(3px);
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    animation: glowing 20s linear infinite;
    transition: opacity .1s ease-in-out;
    border-radius: 10px;
}

.banner-button-style:hover {
    border-radius: 10px !important;
}

.banner-button-style:active {
    color: white;
}

.banner-button-style:active:after {
    background: transparent;
}

.banner-button-style:hover:before {
    opacity: 1;
}

button.banner-button-style:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1F2631;
    left: 0;
    top: 0;
    border-radius: 10px;
    transform: unset;
}

button.button-register:after {
    background: transparent;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

#devfolio-button {
    align-items: center;
    background-color: #5bc2e0;
    border-radius: 0px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    text-align: center;
    justify-content: center;
}

#devfolio-button:hover {
    background-color: #218bab !important;
    border-radius: 20px;
}

section#counter-stats {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.stats {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    /* font-family: 'Montserrat', sans-serif; */
    bottom: 5%;
}

.stats .fa {
    font-size: 70px;
}

.stat_icon1 {
    width: 80px;
}

.btn-primary:hover {
    background-color: #fff;
    color: #152836;
}

.btn-primary {
    background-color: #152836;
    border-color: #0e1a24;
    color: #fff;
}

.btn-primary {
    border-color: #eee;
    color: #eee;
    transition: color 0.1s ease 0s, background-color 0.15s ease 0s;
}

.btn-grad {
    background-image: linear-gradient(to right, #000 0%, #53346d 51%, #000 100%);
}

.btn-grad:hover {
    background-position: right center;
}

#about {
    background-color: #040709;
}

.container {
    color: #DFEAF0;
  }

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.grid-item {
    border-bottom: 0px solid rgba(0, 0, 0, 0.1);
    height: 100px;
    padding: 30px;
    align-content: center;
    vertical-align: center;
    grid-gap: 20px;
}

.card {
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 10px 10px 8px #888;
}

.card-image {
    float: left;
    border-radius: 10px;
}

.card-content {
    float: right;
}

.card-content h3 {
    font-size: 30px;
    margin-top: 5px;
    text-transform: uppercase;
    /* font-family: Montserrat, sans-serif; */
}

.card-content h4 {
    font-size: 20px;
    margin-top: 0px;
    color: rgba(27, 39, 61, 0.5);
    /* font-family: Montserrat, sans-serif; */
}

.team-icons {
    font-size: 40px;
}

.card2 {
    background-color: white;
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
}

.card-image2 {
    border-radius: 10px;
}

.card-content2 h3 {
    font-size: 20px;
    margin-top: 5px;
    text-transform: uppercase;
    /* font-family: Montserrat, sans-serif; */
}

.team-icons2 {
    font-size: 30px;
}

a {
    text-decoration: none !important;
}

.clr-blue {
    color:#90C4F2;
}
.clr-black{
    color:black;
}
.clr-white {
    color:#fff;
}

.clr-dark {
    color: #DFEAF0;
}

.glimpse-title {
    /* font-family: Montserrat, sans-serif; */
    line-height: 1.2;
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 36px;
}

.sponsor_space {
    margin-bottom: 50px;
}

.zero-padding {
    padding: 0;
}

.mlh-badge {
    width: 10%;
    position: fixed;
    top: 84px;
    right: 12px;
    z-index: 9999;
    min-width: 56px;
}

.sponsor_large {
    width: 250px;
}

.sponsored-heading-media {
    font-size: 2.6rem;
    line-height: 3.9000000000000004rem;
    font-weight: 700;
    color: #ec398b;
    text-transform: uppercase;
    text-align: center;
    margin: 0.5rem 0 2rem;
    display: block;
}

.resource_color {
    color: #eee;
}

.profile_height {
    height: 360px !important;
}

.speaker_box .speaker_img .info_box {
    padding: 2px;
    min-width: 70%;
    bottom: 8px;
    padding-left: 10px;
}

.disabled {
    color: fff !important;
    box-shadow: none !important;
    border-radius: unset !important;
    cursor: no-drop;
}

.stat-icons {
    font-size: 80px;
}

.stats h5 {
    margin-bottom: 4rem;
    line-height: 1.5rem;
}

.quote {
    font-size: 8rem;
    font-weight: 600;
    color: #fff;
    line-height: 12rem;
    /* font-family: Oswald, sans-serif; */
}

.date {
    font-size: 25px;
    font-weight: 900;
    color: #fff;
    /* font-family: Oswald, sans-serif; */
}

.home-button {
    padding: 10px;
}

.home-button1 {
    float: right;
    align-content: center;
}

.home-button1 button {
    height: 50px;
    width: 400px;
    font-size: 18px;
    margin: 15px;
}

.home-button2 {
    float: left;
}

.home-button2 button {
    height: 50px;
    width: 400px;
    font-size: 18px;
    margin: 15px;
}

.home-button3 {
    margin-top: 8px;
}

.quote span:nth-child(1) {
    color: #00ff39;
}

.quote span:nth-child(2) {
    color: #ffd717;
}

.quote span:nth-child(3) {
    color: #00ff39;
}

.contact-icon {
    font-size: 3rem;
}

.email-link {
    font-size: 40px;
    text-align: center;
    /* font-family: Raleway, sans-serif; */
    font-weight: 1000;
}

/** Glimpses **/

.previous_ed{
    margin-top: 1rem;
}
.glimpses_of_events{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .glimpses_of_events_heading h2{
    font-weight: 700;
    margin-bottom: 1rem;
} */

.glimpses_of_events .addBack {
    transform: rotateY(180deg);
    transition: all 0.6s ease-in-out;
    transform-style: preserve-3d;
}

.glimpses_of_events .removeBack {
    transform: rotateY(-180deg);
    transition: all 0.6s ease-in-out;
    transform-style: preserve-3d;
}

.row1,
.row2,
.row3,
.row4,
.row5 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* .row3_last-card {
    margin-top: 3rem !important;
} */

.col-lg-2 {
    padding-left: 0.30rem;
  
    margin-top: 0.10rem;
    margin-bottom: 0.10rem;
}

/* .glimps_RowOnesecondCard,
.glimps_RowOneFourthCard {
    margin-bottom: 3rem !important;
} */

/* .glimps_RowTwosecondCard,
.glimps_RowTwoFourthCard {
    position: absolute;
    margin-top: 90px;
    padding-right: 0.60rem !important;
    padding-left: 0.60rem !important;
} */


.glimpse_flip-card {
    background-color: transparent;
    /* width: 100%; */
    height: 240px;
    perspective: 1000px;
}

.glimpse_flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.2s ease,
        padding 0.8s linear;
    transform-style: preserve-3d;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}

.glimpse_flip-card-front,
.glimpse_flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.glimpse_flip-card-front img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    object-fit: cover;
}

.glimpse_flip-card-back img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    object-fit: cover;
}

.glimpse_flip-card-back {

    transform: rotateY(180deg);
}

.glimpse_flip-card {
    width: 18rem;
    /* Adjust card width as needed */
    height: 20rem;
    /* Adjust card height as needed */
    /* margin: 5px; */
    perspective: 1000px;
}

.glimpse_flip-card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.glimpse_flip-card:hover .glimpse_flip-card-inner {
    transform: rotateY(180deg);
}

.glimpses_container {
    display: grid;
    /* grid-auto-flow: dense; */
    grid-template-rows: auto;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    grid-column-gap: 2rem;
}

@media screen and (max-width: 550px){
    .glimpses_container {
        /* width: 100%; */
        grid-template-rows: auto;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        grid-column-gap: 1rem;
    }

    .row2,.row4{
        display: none;
    }

    .glimpse_flip-card{
        height: 13rem;
        width: 14rem;
    }
   /* .main{
    width: 31rem;
   } */
}

@media screen and (min-width: 550px) and (max-width: 768px) {
    .glimpses_container{
        grid-template-columns: repeat(5,1fr);
    }

    .glimpse_flip-card{
        height: 18rem;
        width: 15rem;
    }
}
@media screen and (min-width: 768px) and (max-width: 990px) {
    .glimpses_container{
        grid-template-columns: repeat(5,1fr);
        
    }

    .glimpse_flip-card{
        height: 18rem;
        width: 15rem;
    }

    
}

.lgx-photo-gallery-black .lgx-inner {
    background: rgba(78, 98, 129, 0.93);
}
/* #glimpses .pb100 {
    padding-left: 0;
    padding-right: 0;
} */
.section_title h5{
    color: white;
}
.lgx-photo-gallery-black .lgx-inner {
    background: rgba(78, 98, 129, 0.93);
}



#speakers {
    background: #F8F5FF;
}

.speaker-card {
    height: 350px;
    margin: 3rem;
    padding: 35px 24px;
    border-radius: 15px;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: linear-gradient(159.8deg, #F8F5FF 0%, #F0E9FF 88.57%);
    box-shadow: 2px 2px 40px rgb(0 0 0 / 25%);
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1); */
}

.speaker-card:hover {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1); */
    box-shadow: 2px 2px 20px rgb(45, 42, 42);
    cursor: pointer;

}

.speaker-img img {
    border-radius: 200px;
    width: 180px;
}

.speaker-card h3 {
    text-transform: uppercase;
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 600;
    /* font-family: Montserrat; */
}

.speaker-card h4 {
    font-size: 1.5rem;
    line-height: 1.7rem;
    font-weight: 400;
    /* font-family: Montserrat; */
    opacity: 80%;
}

.lgx-gallery-single figure:hover {
    cursor: pointer;
}

.timer {
    padding: 40px 80px;
}

.timer-box {
    padding: 50px;
    margin: 20px;
    color: white;
    text-decoration: uppercase;
    border-bottom: 0px solid black;
    border-radius: 10px;
    align-content: center;
    /* font-family: Poppins-Black; */
}

.timer-box h3 {
    color: white;
    font-size: 100px;
    font-weight: 1000;
}

.timer-text {
    font-size: 15px;
    font-weight: bold;
    /* font-family: Montserrat, sans-serif; */
    margin-left: 10px;
}

#sponsors {
    background-color: #040709;
}

.sponsor-heading {
    font-size: 25px;
    font-weight: 700;
    /* font-family: Montserrat, sans-serif; */
    align-content: center;
    text-align: center;
    justify-content: center;
    margin: 50px 0px 30px 0;
    text-transform: uppercase;
}

.sponsors-logo {
    background-color: #fff;
    margin: 15px 10px;
    padding: 20px 5px;
    align-content: center;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.05);
    cursor: grab;
}

.sponsors-logo:hover {
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.1), 0 2px 7px 0 rgba(0, 0, 0, 0.1);
}

.title-sponsor img {
    width: 60%;
    
}

.gold-sponsor img {
    width: 50%;
   
}


.silver-sponsor img {
    width: 70%;
   
}

.general-sponsor img {
    width: 70%;
 
}
.general-sponsor .sponsors-logo {
    background-color: #fff;
    margin: 15px 10px;
    padding: 20px 5px;
  
    align-content: center;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.05);
    cursor: grab;
}
.past-sponsor img {
    width: 50%;
}

#speakers-info p {
    font-size: 20px;
}

.cpf {
    padding: 40px;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.cpf-card {
    margin: 10px;
    padding: 40px;
    background: #e42bde;
    background: -webkit-linear-gradient(to bottom, #eaecc6, #2bc0e4);
    background: linear-gradient(to bottom, #eaecc6, #2bc0e4);
    border-radius: 10px;
}

.cpf-card:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.cpf-card p {
    font-size: 20px;
    color: white;
}

.contact {
    padding: 0 50px;
}

.contact-card {
    padding: 40px;
    text-align: center;
    font-family: Montserrat;
    position: relative;
    background: linear-gradient(-45deg,rgba(240, 139, 225, 0.402),rgba(228, 4, 240, 0.4));
    background: linear-gradient(136.71deg, #F0E9FF 0%, rgba(180, 146, 255, 1) 97.19%, #B492FF 97.19%);
    background: linear-gradient(45deg, #667C97, #90C4F2);
    backdrop-filter: blur(20px);
    box-shadow: 5px 5px 15px 0 rgba(27, 3%, 3%, 25%);
    border-radius: 20px;
    border-top: 4px solid rgba(157,233,247,.438);
    border-bottom: 4px solid rgba(157,233,247,.438);
    border-top: 4px solid rgba(107, 140, 147, 0.45);
    border-bottom: 4px solid rgba(82, 107, 110, 0.45);
    display: flex;
    flex-direction: column;
    transition: .5s;
}

.contact-card span {
    background-color: #667c97f1;
    color: #fff;
    padding: 8px 12px;
    font-size: 40px;
    border-radius: 20px;
}

.contact-card h3 {
    font-size: 40px;
    font-weight: 1000;
    color: #040709;
}

.contact-card h4 {
    /* font-family: roboto; */
    margin-top: 25px;
    font-size: 25px;
}

.contact-card h5 {
    font-size: 2rem;
}

.contact-content {
    margin-top: 40px;
}

.contact-card:hover::before {
    transform: translateX(100%);
}

.contact-content a{
    color: #DFEAF0;

}

.contact-content a:hover{
    color: inherit;
}

.contact-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgb(97, 125, 158,0.5), transparent);
    transform: skew(-18deg);
    transition: .6s;
    border-radius: 10px;
    z-index: -2;
}


.themes-bg {
    background-color: #040709;
    /* background-color: blue; */
    background-size: cover;

}

.themes-bg-cover {
    background: #040709;
    background-repeat: repeat;
    background-position: center center;
    background-size: 100% 80%;
}


/***** Register Section *****/
div.lgx-single-registration.recommended{
    background: linear-gradient(159.8deg, #f5f2fd 0%, #dacdfa 88.57%);
    margin: 0 13rem;
    width: unset !important;
}

.lgx-registration-area .lgx-single-registration:hover .lgx-single-registration-inner{
    /* animation-name: zoomIn; */
    animation-name: zoomIn;
    /* background: linear-gradient(159.8deg, #fefdff 0%, #e1d4ff 88.57%); */
}
/* ************* */
.sample-problem-btn {
    background-color: #845fd6;
}

.sample-problem-btn:hover {
    background-color: #9b72f3;
}

.counter-section {
    background: #fff;
    overflow: hidden;
    position: relative;
}

.section-padding {
    padding: 90px 0;
}

.icon-swag {
    padding-left: 35%;
}

.swagpara {
    margin-top: 25px;
    color: black;
}

.accordion a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    color: #7288a2;
    font-size: 1.8rem;
    font-weight: 400;
    border-bottom: 1px solid #e5e5e5;
}

.accordion a:hover,
.accordion a:hover::after {
    cursor: pointer;
    color: #D8E6F0;
}

.accordion a:hover::after {
    border: 1px solid #03b5d2;
}

.accordion a.active {
    color: #03b5d2;
    border-bottom: 1px solid #03b5d2;
}

.accordion a::after {
    font-family: 'Ionicons';
    content: '+';
    position: absolute;
    float: right;
    right: 0.5rem;
    font-size: 2rem;
    color: #7288a2;
    padding: 1px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #7288a2;
    text-align: center;
    margin-bottom: 2px;
}

.accordion a.active::after {
    font-family: 'Ionicons';
    content: '-';
    color: #03b5d2;
    border: 1px solid #03b5d2;
}

.accordion .content {
    opacity: 0;
    padding: 0 1rem;
    max-height: 0;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    clear: both;
    -webkit-transition: all 0.2s ease 0.15s;
    -o-transition: all 0.2s ease 0.15s;
    transition: all 0.2s ease 0.15s;
}

.accordion .content p {
    font-size: 1.5rem;
    font-weight: 300;
    padding: 0px;
    color:#D8E6F0 ;
}

.content a {
    text-decoration: underline;
    display: inline;
    width: 100%;
    padding: 0px;
    color: #7288a2;
    font-size: 1.7rem;
    font-weight: 400;
    border-bottom: 0px solid #e5e5e5;
}

.content a::after {
    display: none;
}

.accordion .content.active {
    opacity: 1;
    padding: 1rem;
    max-height: 100%;
    -webkit-transition: all 0.35s ease 0.15s;
    -o-transition: all 0.35s ease 0.15s;
    transition: all 0.35s ease 0.15s;
}

.slider {
    position: relative;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -28px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.slider_row:after {
    content: '';
    display: table;
    clear: both;
}

.slider_column {
    float: left;
    width: 16.66%;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.highlighter {
    border: 4px solid #DFEAF0;
    z-index: 1;
}

.spacing_slider {
    margin-top: 10px;
}

#whatsapp {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    cursor: pointer;
    padding: 22px 25px;
    border-radius: 200px;
    font-size: 30px;
}

#whatsapp:hover {
    background-color: #555;
}


/*******Scroll Bar******/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    background-image: linear-gradient(to bottom, rgb(236, 250, 255), rgb(209, 234, 255), rgb(165, 205, 239),rgb(171, 210, 242));
}

::-webkit-scrollbar-thumb {
    background: #667c97;
}

::-webkit-scrollbar-thumb:hover {
    background: #90c4f2;
}

/*****Media*****/

@media screen and (max-width: 1240px) {
    .swiper {
        height: 520px;
    }
}


@media screen and (max-width: 1120px) {
    .swiper {
        height: 480px;
    }
}

@media screen and (max-width: 940px) {
    .swiper {
        height: 400px;
    }
}

@media screen and (max-width: 820px) {
    .swiper {
        height: 360px;
    }
}

@media screen and (max-width: 768px) {
    .title-sponsor img {
        height: 27vw;
        width: 50%;
    }

    .title-sponsor .sponsors-logo {
        margin: 15px;
    }

    .gold-sponsor img {
        width: 60%;
    }

    .gold-sponsor .sponsors-logo {
        margin: 20px;
    }

    .silver-sponsor img {
        width: 70%;
    }

    .general-sponsor img {
        width: 60%;
    }

    .past-sponsor img {
        width: 90%;
    }

    .sponsors-logo {
        padding: 8px 5px;
        margin: 8px;
    }

    .swiper {
        height: 320px;
    }

    .sponsor-heading {
        font-size: 20px;
    }

    .cpf-card p {
        font-size: 13px;
    }

    .cpf-card {
        padding: 20px;
    }

    .cpf {
        padding: 20px;
    }

    .theme-input {
        font-size: 15px;
        font-weight: 700;
    }

    .contact {
        padding: 0 30px;
    }

    .contact-card {
        background-color: #ebe6db;
        border-radius: 15px;
        padding: 30px;
        text-align: center;
    }

    .contact-card span {
        padding: 6px 9px;
        font-size: 30px;
    }

    .contact-card h3 {
        font-size: 30px;
    }

    .contact-card h4 {
        margin-top: 20px;
        font-size: 20px;
    }

    .contact-card h5 {
        font-size: 20px;
    }

    .themes-bg-cover {
        background: #040709;
        background-repeat: no-repeat;
        background-position: center right;
        background-size: auto;
    }

    .sponsor-image {
        padding: 10px;
    }

    .stat-icons {
        font-size: 50px;
    }

    .email-link {
        font-size: 30px;
    }

    .quote {
        font-size: 26px;
        font-weight: 600;
        color: #fff;
        line-height: 0rem;
        /* font-family: Oswald, sans-serif; */
    }

    .date {
        font-size: 2rem;
        font-weight: bold;
        color: #fff;
        /* font-family: Oswald, sans-serif; */
    }

    .home-button {
        padding: 0px;
    }

    .home-button1 {
        float: none;
    }

    .home-button1 button {
        margin: 5px;
        height: 40px;
        width: 300px;
        font-size: 14px;
        text-transform: uppercase;
    }

    .home-button2 {
        float: none;
    }

    .home-button2 button {
        margin: 5px;
        height: 40px;
        width: 300px;
        font-size: 14px;
    }

    .speaker-card {
        height: 230px;
        margin: 5px;
        padding: 30px 5px;
    }

    .speaker-img img {
        width: 100px;
    }

    .speaker-card h3 {
        font-size: 1.5rem;
        line-height: 0px;
    }

    .speaker-card h4 {
        font-size: 1.2rem;
    }

    .timer {
        padding: 20px;
        margin-top: 10px;
    }

    .timer-box {
        padding: 15px 15px;
        margin: 5px;
        border-radius: 5px;
    }

    .timer-box h3 {
        line-height: 0px;
        font-size: 40px;
        font-weight: 1000;
    }

    .timer-text {
        line-height: 0px;
        font-size: 10px;
        margin-left: 0px;
    }

    .card {
        padding: 8px;
        margin: 0px;
    }

    .card-content h3 {
        font-size: 20px;
        font-weight: 700;
        margin-top: 5px;
    }

    .card-content h4 {
        font-size: 15px;
        color: rgba(27, 39, 61, 0.5);
    }

    .team-icons {
        font-size: 25px;
    }

    .card2 {
        padding: 8px;
        margin: 10px;
    }

    .card-content2 h3 {
        font-size: 12px;
        font-weight: 700;
        margin-top: 5px;
    }

    .team-icons2 {
        font-size: 20px;
    }

    .stats .fa {
        font-size: 40px;
    }

    .stat_icon_1 {
        width: 40px;
    }

    .stats {
        text-align: center;
        font-size: 20px;
        font-weight: 800;
        /* font-family: 'Montserrat', sans-serif; */
        bottom: 5%;
    }

    .accordion a::after {
        padding: 3px;
        bottom: 2px;
    }

    .accordion .content p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1100px) {
    .lgx-header .lgx-navbar .lgx-nav li a {
        font-size: 70%;
    }
}


@media screen and (min-width: 768px){
    .navbar-nav {
    float: right;
    margin: 0;
    margin-top: 1rem;
    margin-right: 10rem;
    }
}

@media screen and (max-width: 1024px) {

    .home-button1 {
        float: none;
    }

    .home-button1 button {
        margin: 5px;
        height: 40px;
        width: 300px;
        font-size: 14px;
        text-transform: uppercase;
    }

    .home-button2 {
        float: none;
    }

    .timer {
        padding: 20px;
        margin-top: 10px;
    }

    .timer-box {
        padding: 15px 15px;
        margin: 5px;
        border-radius: 5px;
    }

    .timer-box h3 {
        line-height: 0px;
        font-size: 40px;
        font-weight: 1000;
    }

    .timer-text {
        line-height: 0px;
        font-size: 10px;
        margin-left: 0px;
    }

}

#prizes {
    background-color: rgb(240, 245, 250);
}

.prize-container{
    padding:50px 25px 100px 25px;    
}



.prize-heading, .hack-prize-heading{
    padding: 15px 30px;
    background-color: #d42241;
    line-height: 2.5rem;
}

.prize-heading p, .hack-prize-heading p {
    text-transform: uppercase;
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 900;
    font-size: 2rem;
    color: white;
}

.prize-modal-header h5{
    text-align: center;
    font-size: 3rem;

}

.prize-modal-body{
    padding: 25px;
}

.prize-modal-body a{
    text-decoration: unset;
    color: rgba(29, 29, 29, 0.8);
}

.prize-modal-body p{
    font-size: 1.4rem;
}

.prize-modal-footer{
    font-size: 1.6rem;
}

h4.hack-prize-heading{
    margin-top: 30px !important;
    margin-bottom: 70px !important;
}

.prize-heading .prize-icon, .hack-prize-heading .prize-icon {
    float: right;
}

.prize-body {
    background-color: white;
    padding: 10px 30px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.prize-body p {
    font-size: 1.4rem;
}

.prize-body ul {
    list-style-type: none;
    margin-left: -40px;
}

.prize-body span {
    float: right;
    font-size: 1rem;
    font-weight: 700;
}

.prize-body li {
    font-size: 1.4rem;
    margin-bottom: 0.2rem;
    cursor: grab;
}

.prize-body li:hover {
    color: rgb(20, 27, 65);
}

.prize-body hr {
    margin: 5px 0px;
}

/* .prize-know-btn {
    background-color: #90C4F2;
} */

.cta {
    border: none;
    background: none;
  }

  .cta:hover{
    border: none;
    box-shadow: none;
  }
  
  .cta span {
    padding-bottom: 7px;
    letter-spacing: 2px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
  }
  
  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
  .cta:hover svg {
    transform: translateX(0);
    border: 0;
  }
  
  .cta:active svg {
    transform: scale(0.9);
  }

  .sponsor_us_btn .hover-underline-animation{
    color: white;
  }


  
  .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #007bff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(0.91);
    transform-origin: bottom left;
  }

/* .prize-know-btn:hover {
    background-color: #667C97;
} */

#workshops {
    margin-top: 0vh;
    padding-bottom: 80px !important;
    padding-top: 13rem;
    background: #040709;
    /* background-color: #5bc2e0; */
}

.flip-card {
    border-radius: 0 0 2rem 2rem ;
    width: 100%;
    height: 24rem;
    perspective: 1000px;
    background-color: white;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    border-radius: 0 0 1rem 1rem;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #D4EBFF;
    color: black;
    padding: 0px 15px;
}

.flip-card-front h3 {
    font-size: 1.9rem;
    font-weight: 700;
    /* font-family: 'Montserrat', sans-serif; */
    line-height: 2.5rem;
}

.flip-card-front p {
    font-size: 1.5rem;
    /* font-family: 'Montserrat', sans-serif; */
    line-height: 2.5rem;
}

.flip-card-front i {
    font-size: 1.8rem;
    margin: 2px;
}

.flip-card-back {
    background-color: #D4EBFF;
    color: white;
    padding: 5px 20px;
    transform: rotateY(180deg);
}

.flip-card-back h3 {
    font-size: 1.9rem;
    font-weight: 1000;
    /* font-family: 'Montserrat', sans-serif; */
    line-height: 2.5rem;
}

.flip-card-back i {
    font-size: 3rem;
    letter-spacing: 10px;
}

.flip-cover {
    padding: 2em;
    border-radius: 1rem 1rem 0 0;
    /* height: 170px; */
    background-color: white;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.permissionless-card-content, .elastic-card-content {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.workshop-card {
    margin: 20px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

.workshop-btn {
    padding: 10px;
    background-color: white;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.workshop-btn button {
    width: 150px;
    padding: 8px 12px;
    color: #e11f83;
    background-color: transparent;
    border: 2px solid #f74ca4;
    border-radius: 10px !important;
}

.workshop-btn .btn-danger {
    background-color: #f74ca4;
    color: white;
    border-radius: 10px !important;
    border: 2px solid #f74ca4;
}

.workshop-btn button:hover {
    background: #f74ca4;
    border-color: #f74ca4;
    font-size: 15px;
}

.workshop-btn .btn-danger:hover {
    background: transparent;
    color: #f74ca4;
    font-size: 15px;
}

.modal-body h5 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
}

.modal-body p {
    text-align: justify;
}

.text-muted {
    font-size: 10px;
    font-weight: 500;
    float: right;
}


/****************SCHEDULE*********************/

#schedule {
    background-color: #1f2631;
}

.schedule {
    width: 100%;
    display: none;
}

.schedule-laptop {
    width: 100%;
}

/*******************/


.author-info {
    /* font-family: 'Montserrat', sans-serif; */
}

.prizes-head {
    font-size: 30px;
    font-weight: 800;
}

.prize-total {
    float: right;
}

.pixel-card {
    background-color: #eee;
    padding: 40px 40px 0px 40px;
    border-radius: 10px;
}

.pixel-content {
    padding-top: 3 0px;
}

.pixel-img {
    text-align: center;
}

.pixel-card h2 {
    font-size: 6rem;
    font-weight: 500;
    /* font-family: 'Oswald', sans-serif; */
    line-height: 5.5rem;
}

.pixel-card h4 {
    font-size: 2.5rem;
    font-weight: 500;
    /* font-family: 'Montserrat', sans-serif; */
    color: #1d3657;
    opacity: 0.5;
    float: right;
    line-height: 3.5rem;
}

@media screen and (max-width: 924px) {
    .schedule {
        display: block;
    }

    .schedule-laptop {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .workshop-btn {
        padding: 5px;
    }

    #top-logo-img {
        width: 15vw;
    }

    .workshop-btn button {
        width: 140px;
        padding: 6px 10px;
    }

    .flip-card {
        width: 100%;
    }

    .pixel-card h2 {
        font-size: 4rem;
    }

    .pixel-content {
        padding-top: 20px;
    }

    .pixel-card {
        padding: 30px 30px 0px 30px;
    }
}

#teams {
    background-color: #1f2631;
}

#teams img {
    margin: 5px;
    border-radius: 2px;
}

.team-box {
    background-color: #faf4f0;
    margin: 2rem;
    /* padding: 1.5rem; */
    padding-top: 1rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-bottom: 0.4rem;
    width: 90%;
    margin-bottom: 8rem;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888;
}

.team-box h2 {
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.5rem;
}

.team-box h5 {
    font-size: 1.8rem;
}

.team-box h6 {
    font-size: 2.5rem;
    cursor: pointer;
}

.fa-calendar,
.fa-clock {
    font-size: 1vw;
}

.stat {
    display: flex;
    flex-direction: column;
}


.stat-image {
    text-align: center;
}

lord-icon {
    height: 12rem;
    width: 12rem;
}

/* Footer */
.lgx-footer>.lgx-inner-footer {
    background-color: #0a080eb0 !important;
}

.lgx-footer-area {
    padding: 50px 0px 36px;
}

#footer-addr a {
    color: rgb(204, 161, 205);
    /* color: rgb(120, 131, 137); */
}

/* .social{
    padding-left: 5rem !important;
} */

#footer-addr a:hover {
    color: rgb(252, 219, 253);
}

/* ************ Media Queries ************** */

@media screen and (max-width:1227px) {
    .home_hackCBS>h1 {
        font-size: 150px;
    }
    
}

@media screen and (max-width:1039px) {
    .home_hackCBS>h1 {
        /* line-height: 190px; */
    }

    .home_hackCBS>h1>span {
        font-size: 17rem;
        padding-left: 1rem;
    }
}

@media screen and (max-width: 992px) {

    .prize-card {
        margin-top: 13rem;
    }

}
@media (min-width: 1200px){
.container {
  width: 1000px;
}}
@media screen and (min-width: 992px) {
    .lgx-reg-inner > .container {
        width: unset;
    }

    .service h5{
        height: 40px;
    }

    .hack-card{
        margin-top: 3.5rem;
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .lgx-header .menu-onscroll .lgx-navbar .lgx-logo a img {
        width: 104px;
    }

    .progress {
        top: 11.5rem !important;
    }

    #mlh-trust-badge {
        top: 0vw !important;
    }
}
@media (min-width: 991px) and (max-width:1309px) {
    
    .progress {
        top: 12.2rem !important;
    }

   
}
@media (min-width: 1200px) and (max-width:1341px) {
    
    .progress {
        top: 11.5rem !important;
    }

   
}
@media (min-width: 700px) and (max-width:768px) {
    
    .progress {
        top: 14.9vw !important;
    }

   
}
@media (min-width: 600px) and (max-width:700px) {
    
    .progress {
        top: 15.9vw !important;
    }

   
}
@media (min-width: 550px) and (max-width:600px) {
    
    .progress {
        top: 17.5vw !important;
    }

   
}
@media (min-width: 300px) and (max-width:550px) {
    
    .progress {
        top: 17.6vw !important;
    }

    .button-register{
        padding: 1.5rem 3rem;
    }

   
}

@media (min-width: 240px) and (max-width:300px) {
    
    .progress {
        top: 22.7vw !important;
    }

   
}
@media screen and (max-width: 900px) {
    .home_hackCBS>h1 {
        /* font-size: 13vw; */
        font-size: 16vw;
        line-height: 110px;
    }

    .home_hackCBS>h1>span {
        font-size: 18vw;
        padding-left: 0.6rem;
    }

    .home_date-container p {
        font-size: 2.5rem;
    }

    .home_hackCBS>h2 {
        font-size: 3.7vw;
    }

    .team-box{
        width: 68%;
        padding-top: 1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

}

@media (min-width: 678px) and (max-width:990px) {

    .service{
        margin: 0 94px 0 !important;
    }

    .shadowOne, .hack-shadowOne, .shadowOneMLH{
        width: 67% !important;
        left: 16% !important;
    }

    .shadowTwo, .hack-shadowTwo, .shadowTwoMLH{
        width: 60% !important;
        left: 20% !important;
    }
}

@media (min-width: 427px) and (max-width:990px) {
    
   .team-box{
        width: 60% !important;
    }
}

@media screen and (max-width:768px) {
    .home_date-container .fa-calendar {
        font-size: 4vw;
    }

    .home_hackCBS>h2 {
        margin-top: 4.5vh;
    }

    .home_hackCBS>h1 {
        /* margin-top: 0vh; */
        margin-top: -20vh;
    }

    .logo_img img {
        width: 20%;
    }

    .logo_img1 img {
        width: 20%;
    }

    .spklinks li a {
        font-size: 18px !important;
    }

    

    /* #mlh-trust-badge {
        top: 16.5vw !important;
    } */
}

@media screen and (max-width: 553px){
    #mlh-trust-badge {

        top: 18vw!important;
        right: 6px !important;
    }

.banner-parallax{
    height: 88vh;
}}
    

       
    
 @media (min-width: 400px) and (max-width:557px) {
    #mlh-trust-badge {
        top: 10 rem !important;
    }      
                    }
    
                        

@media screen and (max-width:624px) {
    .home_hackCBS>h1 {
        font-size: 15vw;
        line-height: 110px;
        /* margin-top: -9vh; */
        margin-top: -12vh;
        margin-bottom: 2vh;
    }

    .home_hackCBS>h2 {
        font-size: 4vw;
        line-height: 110px;
        margin-top: -2vh;
        margin-bottom: 2vh;
        margin-left: 0px;
    }

    .home_hackCBS>h1>span {
        font-size: 17vw;
    }

    .home_date-container p {
        font-size: 2.7rem;
        margin-top: 10rem;
    }

    .home_hackCBS .text {
        font-size: 4.5vw;
        padding: 0;
        margin: -2rem auto 0 auto;
        /* margin: -2rem auto 0 auto; */
        padding-left: auto;
        /* margin-top: -25px; */
        margin-top: -34px;  
    }

    .home_button-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 8rem;
    }

    .home_container {
        background: rgba(31, 38, 49, 0.15);
    }
    


    /* .button-register {
        margin-right: 0;
        margin-bottom: 3rem;
        font-size: 3rem;
    } */

    .button-discord {
        font-size: 2rem;
    }

    .swiper {
        height: 380px;
    }
}

@media screen and (max-width: 545px) {
    .swiper {
        height: 320px;
    }

    .swiper .swiper-slide {
        transform: scale(1.5);
    }
}

@media screen and (max-width: 476px) {
    .home_hackCBS>h1 {
        /* font-size: 14vw; */
        font-size: 14.5vw;
        line-height: 100px;
    }

    .home_hackCBS>h1>span {
        font-size: 16.5vw;
    }

    .home_date-container .fa-calendar {
        font-size: 5vw;
    }

    div.lgx-single-registration.recommended{
        margin: 0 3rem;
    }

    .lgx-footer-area {
        padding-bottom: 0px !important;
    }

    .lgx-footer-single {
        margin-bottom: 0;
    }

    .swiper {
        height: 280px;
    }

    div.swiper-button-next:after,
    div.swiper-button-prev:after {
        content: none;
    }
}

@media screen and (max-width:425px) {
    .service h5{
        margin: 25px 0;
    }
}

@media screen and (max-width:427px) {

    .logo_img img,
    .logo_img1 img {
        width: 38%;
    }

    .lgx-footer-single {
        margin-bottom: 0;
    }

    .lgx-footer-area {
        padding-bottom: 0px !important;
    }

    .team-box{
        width: 68%;
        padding-top: 1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

}

@media screen and (max-width:380px) {
    .home_container {
        padding-top: 8rem;
    }
}

@media screen and (max-width:375px) {

    .workshop-card-container {
        grid-template-columns: auto;
        justify-content: center;
    }

    .workshop-card {
        /* height: 80vw; */
        /* width: 55vw; */
        /* padding: 10px 2vw 6px 2vw; */
        border-radius: 2vw;
    }

    #workshop-card-img img {
        width: 52vw;
        height: 35vw;
    }

    #workshop-card-text {
        margin-bottom: 2vw;
    }

    #workshop-card-title>h3 {
        font-size: 2.5vw;
        padding-top: 10px;
        padding-bottom: 2px;
    }

    #workshop-card-text>h6 {
        font-size: 2vw;
        line-height: 11px;
    }

    #workshop-timing span {
        font-size: 2.1vw;
    }

    #workshop-card-text {
        margin: 1.7vw auto auto 5px;
    }

    .fa-calendar,
    .fa-clock {
        font-size: 2.2vw;
    }

    #workshop-card-text {
        margin: 5px auto auto 5px;
    }

    #workshop-card-button>span {
        font-size: 2.7vw;
    }

    .workshop-btn button {
        width: 35vw;
    }

    .permissionless-card.flip-card {
        height: 27rem;
    }
}


.speaker-links {
    /* position: absolute; */
    width: 100%;
    margin-top: 2.2rem;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 2;
    backdrop-filter: blur(8px);
    visibility: hidden;
    flex-direction: column;
    transition: 0.3s ease-in-out;
}

.linkBx {
    width: 100%;
}

.speaker-links .spklinks {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0;
}

.spklinks li {
    transform: translateY(0px);
    opacity: 1;
}

.spklinks li {
    list-style: none;
    margin: 0 10px;
    transform: translateY(9px);
    /* transition: 0.5s; */
    opacity: 1;
    /* transition-delay: calc(0.2s*var(--i)); */
}

.spklinks li a {
    color: #000;
    font-size: 24px;
}

.spklinks li a .fa-facebook-f {
    font-size: 21px;
}

.speaker-card:hover .speaker-links {
    margin-top: -4.2rem;
    z-index: 99;
    visibility: visible;
}


/***  scroll to top button  *****/
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    padding: 12px 18px;
    color: white;
    border-radius: 50%;
    background: linear-gradient(3.48deg, #667C97 0.26%, #90C4F2 39.81%, #728691 100%);
    font-size: 20px;
}

.address_footer {
    padding-right: 8rem;
}

@media only screen and (max-width: 768px) {
    .address_footer {
        padding-right: 0
    }
}



.link-unstyled {
    text-decoration: none;
    color: inherit;
}

  
  .hackcbs_landing{
    width: 72%;
  }
  @media screen and (max-width: 684px){
    .hackcbs_landing {
        width: 90%;
    }}
   

    .banner-parallax {
        background-image: url("../img/bg/bg3.jpg");
        background-size: cover;
        background-color: black;
        background-repeat: no-repeat;
        background-position:center;
        background-attachment: fixed;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Anton', sans-serif;
    }
    
   
/* Notify me */
.form-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

.form-container h2 {
    margin-top: 0;
}

.email-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}




